<% if resource&.errors&.any? %>
  <div class="mx-auto max-w-lg my-4 rounded-md bg-red-50 px-4 py-3 text-red-700">
    <strong><%= pluralize(resource.errors.count, "error") %></strong> prevented this form from being saved.
  </div>
<% end %>