<div id="notifications"
     data-controller="notifications"
     class="fixed top-4 right-4 z-50 flex flex-col gap-3"></div>

<% if notice.present? %>
  <turbo-stream action="append" target="notifications">
    <template>
      <div data-notifications-target="toast"
           data-type="success"
           data-message="<%= j(notice) %>"></div>
    </template>
  </turbo-stream>
<% end %>

<% if alert.present? %>
  <turbo-stream action="append" target="notifications">
    <template>
      <div data-notifications-target="toast"
           data-type="error"
           data-message="<%= j(alert) %>"></div>
    </template>
  </turbo-stream>
<% end %>
